.card {
  position: relative;
  border-radius: 4px;
  color: black;
  /* min-height: 200px; */
  background-color: #c8d6e5;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 10px;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.enabled:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-head {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid #2c3e4f;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 0.9em;
}
.card-body > div {
  margin-bottom: 2px;
}
.card-body span {
  color: #2d3436;
}
.card-footer button {
  width: 100%;
  background-color: #ff9f43;
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.card-footer button:hover {
  background-color: #e67e22;
}
.icons {
  display: flex;
  justify-content: end;
}
.circle {
  border: 2px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin-left: 4px;
}
.circle:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}
.circle:first-child:hover {
  color: red;
  border-color: red;
}
.circle:last-child:hover {
  color: #2c3e50;
  border-color: #2c3e50;
}
