.modal {
  z-index: 6;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay {
  background-color: rgba(49, 49, 49, 0.8);
  opacity: 0.6;
}

.modal-content {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 6px;
  width: min(350px, 70%);
  color: black;
  padding: 20px 30px;
  animation: slide 0.5s forwards;
}
@keyframes slide {
  100% {
    top: 50%;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  row-gap: 15px;
}
.modal-body > form > .form-group {
  display: flex;
  flex-direction: column;
}
.modal-body > form > .form-footer {
  align-self: flex-end;
  margin-top: 20px;
}
.modal-body button:last-child {
  background-color: #2c3e50 !important;
  color: #f1f1f1 !important;
  padding: 10px 15px !important;
  border-radius: 6px !important;
  border: 1px solid #2c3e50 !important;
  font-weight: bold;
}
.modal-body button:first-child {
  border: 1px solid #2c3e50 !important;
  color: #2c3e50 !important;
  padding: 10px 15px !important;
  border-radius: 6px !important;
  font-weight: bold;
}

.form-group input {
  flex: 1;
  padding: 10px 10px;
  border: none;
}
.form-group > .marks-container {
  display: flex;
  flex: 1;
  border: 1px solid blue;
  align-items: flex-start;
  justify-content: space-between;
}
.marks {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin-right: 10px;
}

.marks input {
  margin-top: 6px;
  border: 1px solid green;
  width: 100%;
}
.error {
  color: red;
  font-size: 0.8em;
}

.loader-container {
  display: flex;
  justify-content: center;
}
