.personal-info {
  position: relative;
  width: min(250px, 90%);
  padding: 15px 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.personal-info-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
  cursor: pointer;
}
.personal-info-edit:hover {
  color: black;
}
.personal-info .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border-bottom: 1px solid grey; */
  padding: 10px;
  margin-bottom: 10px;
}
.image-container {
  position: relative;
  width: fit-content;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: grey;
  opacity: 0.7;
  border-radius: 50%;
}
.image-container:hover .overlay {
  display: flex;
  align-items: center;
}
.image-container label {
  position: absolute;
  padding: 2px 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(236, 126, 34, 1);
  border-radius: 3px;
  color: white;
  border: 1px solid rgba(201, 97, 11, 1);
  cursor: pointer;
}
.image-container label:hover {
  background-color: rgba(120, 57, 5, 1);
  color: white !important;
  opacity: 1;
}
.image-container:hover label {
  animation: slidein 0.4s ease-out forwards;
}

@keyframes slidein {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 20px;
  }
}

input[type="file"] {
  display: none;
}
.personal-info .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.personal-info .body > div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  /* padding: 10px; */
}
.personal-info .body input {
  padding: 8px 8px;
}

.personal-info .photo {
  height: 80px;
  width: 80px;
  /* border-radius: 50%; */
}
.personal-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.footer > button:first-child:hover {
  background-color: red !important;
}
.footer > button:last-child:hover {
  background-color: rgb(98, 156, 4) !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .personal-info {
    width: 90%;
  }
}
