.alert-container {
  position: absolute;
  /* top: 20px; */
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  animation: slidein 0.2s ease-in forwards;
}
.alert {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 3px;
  color: white;
}

@keyframes slidein {
  0% {
    top: -20px;
  }
  100% {
    top: 20px;
  }
}
.failure {
  background-color: rgb(182, 36, 36);
}
.success {
  background-color: rgb(14, 164, 14);
}
.alert > div {
  padding: 10px 15px;
}
.cancel-alert {
  cursor: pointer;
}

.cancel-alert:hover {
  color: red;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .alert-container {
    top: auto;
    bottom: 20px;
  }
} */
