.container {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  display: flex;
  flex-direction: column;
}
.container > div:last-child {
  margin-bottom: 40px;
}

.filter-text {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.filter-text button {
  border: none;
  padding: 6px 5px;
  background-color: inherit;
  cursor: pointer;
  border-bottom: 2px solid inherit;
}
.filter-text button:hover {
  color: #2b3d4e;
}
.filter-text .active-filter {
  border-bottom: 2px solid #2b3d4e;
}

.outer-test-container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
}

.test-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(160px, 1fr)
  ); /* Adjust item width here */
  gap: 20px; /* Adjust gap between items as needed */
  width: 100%; /* Subtract space from both sides (20px + 20px) */
  margin: 0 30px;
  /* margin-bottom: 40px; */
}

.test-container > div:nth-child(3n + 1) {
  margin-left: 0; /* Reset margin for the first item in each row */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .test-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
