.create-test-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #55a47a;
}
.create-test-container button {
  padding: 8px 15px;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  color: black;
  background-color: #55a47a;
}
.form-container form {
  max-width: 90%;
  min-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-title {
  margin-bottom: 20px;
  margin-top: 30px;
}

.question-title > div {
  display: flex;
  background-color: #2d3436;
  justify-content: center;
  align-items: center;
}
.question-title > div > input {
  align-content: stretch;
}
.question-title > div > strong {
  margin: 8px;
  color: white;
}
.question-title > div > textarea {
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-size: 1.2em;
  flex-grow: 1;
}
.question-option {
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-option > div {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.question-option > div > input[type="radio"] {
  font-size: 1.1em;
  height: 20px;
  width: 20px;
}

.question-option > div > input[type="text"] {
  margin-left: 5px;
  width: 100%;
  padding: 6px 2px;
  font-size: 1.05em;
  border: none;
  background-color: aliceblue;
}

.form-container > form > .form-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-container .form-footer > button,
.form-footer > div > button {
}

.form-footer > div > button:last-child {
  margin-left: 10px;
}

.edit-circle {
  border: 2px solid #55a47a;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  color: #55a47a;
  cursor: pointer;
}
.edit-circle:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-color: #226843;
  color: #35c277;
}
